/*

*/

*{
    margin:0px;
    padding:0px;
    outline:0px;    
    box-sizing: border-box;
}


body{
    margin: 0;
}

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

.header{
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.header__logo{
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.header__nav{
    margin: 0 auto;

}

.header__nav__toggle{
    margin: 0 40px 0 0;
    display:none;
    font-size: 30px;
    line-height: 70px;
}

#toggle{
    display: none;
}
.header__nav__item{
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding:0 5px;
}

.header__nav__link{
    color:black;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main-wrapper__container{
    width: 85%;
}


.main-wrapper--flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.main-wrapper__first{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
}

.main-wrapper__title{
    font-size: 50px;
}

@media only screen and (max-width:900px){
    .header{
        display:block;
        z-index: 100;
    }

    .header__nav__list{
        display: none;
        text-align: center;

    }

    .header__nav__item{
        display:block;
        padding: 0 22px 23px;
    }

    .header__nav__toggle{
        top:15px;
        right: 10px;
        position: absolute;
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .header__nav__list{
        display: block;
    }   
}


@media only screen and (max-width:1000px ) and (min-width:900px){
    .main-wrapper__image{
        width: 420px;
    }
    .main-wrapper__title{
        font-size: 45px;
    }
}

@media only screen and (max-width:900px) and (min-width:760px){
    .main-wrapper__image{
        width: 380px;
    }
    .main-wrapper__title{
        font-size: 35px;
    }
}


@media only screen and (max-width:760px) and (min-width:610px){
    .main-wrapper__image{
        width: 280px;

    }
    .main-wrapper__title{
        font-size:25px
    }
}


@media only screen and (max-width:610px){
    .main-wrapper__image{
        width:210px;

    }
    .main-wrapper__title{
        font-size:22px
    }
}