@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
    outline:0px;    
    box-sizing: border-box;
}


body{
    margin: 0;
}



a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.backgroud_wrapper_section_one{
    top: 0px;
    right:0px;
    position:absolute;
    z-index:-1;
}


.backgroud_wrapper_section_two{
    position:absolute;
    z-index:-1;   
}

.backgroud_wrapper_section_three{
    margin: -90px auto;
    left: 0px;
    right: 0px;
    position:absolute;
    z-index:-1;
}

.text-center{
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
}


/*cabecera principal */
.header{
    width: 90%;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    margin-top: 10px;
    cursor: pointer;
}


.nav__toggle{
    
    margin: 0 40px 0 0;
    display:none;
    font-size: 30px;
    line-height: 70px;
}

#toggle{
    display: none;
}
.nav__item{
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    padding:0 5px;
}

.nav__link{
    font-size: 16px;
    color:white;
    font-weight: 600;
}
/*fin de lacabecera principal */


.main-wrapper{
    width: 90%;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    margin-top:20px;
    margin-bottom: 3rem;
}
.container__first{
    display: flex;
    flex-direction: row;
}


.banner__picture{
    padding: 1rem;
    width: 100%;
}


.content__first{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    width: 50%;
    color:white;
}


.content__linear{
    width: 20%;
    margin: 0 auto;
    border-top: 3px solid rgba(241, 111, 181, 1);
}

.content__title{
    font-size: 50px;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.content__paragraph{
    padding: 5px;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content__btns{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.content__btn__group{
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content__btn{
    color:white;
    font-weight: 700;
    text-align: center;
    border: none;
    background: linear-gradient(180deg, #DB22BD 0%, rgba(255, 255, 255, 0) 80%), #6C3CF6;
    border-radius: 15px;
    width: 180px;
    height: 42px;
    font-size: 14px;
}

.container__second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__second{
    margin-top: 110px;
    width:70%;
    color:white;
    font-family: 'Roboto',sans-serif;
    text-shadow: -1px 1px 7px rgba(0, 0, 0, 0.25);
}

.content__cards{
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.content__card{
    width: 244px;
    height: 309px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(234, 223, 223, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-radius: 14px;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto',sans-serif;
    filter: drop-shadow(4px 5px 2px rgba(0, 0, 0, 0.25));
}

.content__three{
    margin-top: 80px;
    color:white;
    font-family: 'Roboto',sans-serif;
}



@media only screen and (max-width:900px){
    .header{
        display:block;
        z-index: 100;
    }

    .nav__list{
        padding:1.2rem;
        display: none;
        text-align: center;
    }

    .nav__item{
        display:block;
        padding: 15px 22px 23px;
    }

    .nav__toggle{
        top:15px;
        right: 10px;
        position: absolute;
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .nav__list{
        display: block;
    }   
}

