/*

*/

*{
    margin:0px;
    padding:0px;
    outline:0px;    
    box-sizing: border-box;
}


body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.header__logo{
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.header__nav{
    margin: 0 auto;

}

.header__nav__toggle{
    margin: 0 40px 0 0;
    display:none;
    font-size: 30px;
    line-height: 70px;
}

#toggle{
    display: none;
}
.header__nav__item{
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding:0 5px;
}

.header__nav__link{
    color:black;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

.main-wrapper__container{
    width: 81%;
    padding-bottom: 120px;
}


.main-wrapper--flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.main-wrapper__first{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
}

.main-wrapper__image{
    width: 530px;
}


.main-wrapper__title{
    font-size: 50px;
    padding: 6px;
    padding-bottom: 20px;
}

.main-wrapper__paragraph{
    padding: 10px;
    width: 355px;
}

.main-wrapper__btns{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 100px;
    padding: 10px;
}

.main-wrapper__btn__group{
    margin-right: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-wrapper__btn{
    color:white;
    font-weight: 700;
    text-align: center;
    border: none;
    background: linear-gradient(180deg, #DB22BD 0%, rgba(255, 255, 255, 0) 80%), #6C3CF6;
    border-radius: 15px;
    width: 180px;
    height: 42px;
    font-size: 14px;
}

.main-wrapper__second{
    font-family: 'Roboto',sans-serif;
}

.main-wrapper__line{
    margin:0 auto;
    width: 150px;
    border:1px solid black;
}
.main-wrapper__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    padding: 20px;

}

.main-wrapper__card__content{
    background: linear-gradient(180deg, rgba(234, 223, 223, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    backdrop-filter: blur(4px);
    border-radius: 14px;
    border: 1px solid black;
}

.main-wrapper--text-transform{
    text-transform: uppercase;
}

.main-wrapper--text-center{
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width:900px){
    .header{
        display:block;
        z-index: 100;
    }

    .header__nav__list{
        display: none;
        text-align: center;

    }

    .header__nav__item{
        display:block;
        padding: 0 22px 23px;
    }

    .header__nav__toggle{
        top:15px;
        right: 10px;
        position: absolute;
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .header__nav__list{
        display: block;
    }   
}



@media only screen and (max-width:1351px) and (min-width:1300px){
    .main-wrapper__container{
        width: 83%;
    }
}

@media only screen and (max-width:1300px) and (min-width:1200px){
    .main-wrapper__container{
        width: 90%;
    }
}

@media only screen and (max-width:1200px) and (min-width:1100px){
    .main-wrapper__container{
        width: 87%;
    }
    .main-wrapper__image{
        width: 480px;
    }
    .main-wrapper__title{
        font-size: 45px;
    }
    .main-wrapper__btn{
        width: 145px;
        height: 40px;
        font-size: 13px;
    }
}



@media only screen and (max-width:1100px ) and (min-width:900px){
    .main-wrapper__container{
        width: 87%;
    }

    .main-wrapper__btns{
        width: 330px;
    }
    .main-wrapper__btn{
        width: 145px;
        height: 40px;
        font-size: 13px;
    }

    .main-wrapper__image{
        width: 450px;
    }
    .main-wrapper__title{
        font-size: 45px;
    }
}

@media only screen and (max-width:980px) and (min-width:890px){
    .main-wrapper__container{
        width:87%;
    }

    .main-wrapper__btn{
        width: 145px;
        height: 40px;
        font-size: 13px;
    }

    .main-wrapper__btns{
        width: 330px;
    }

    .main-wrapper__image{
        width: 380px;
    }
    .main-wrapper__title{
        font-size: 35px;
    }
}


@media only screen and (max-width:760px) and (min-width:610px){
    .main-wrapper__image{
        width: 280px;

    }
    .main-wrapper__title{
        font-size:25px
    }
}


@media only screen and (max-width:610px){
    .main-wrapper__image{
        width:210px;

    }
    .main-wrapper__title{
        font-size:22px
    }
}